.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
label {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 12px;
  background-color: #755ff2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 響應式要獨立寫在外面 */
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
